@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --cor01: #121212;
    --cor02: #027368;
    --cor03: #025f56;
    --cor04: #0041ff;
    --cor05: #0009ff;
    --cor06: #b21286;
    --cor07: #421e42;
    
    --font01: "Oxanium", sans-serif;
    --font02: "Press Start 2P", system-ui;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    font-family: var(--font01);
    background-color: var(--cor01);
    color: white;
    font-size: 0.8em;
}

section#criacao {
    padding-bottom: 20px;
    padding: 0px 10px;
}

section#criacao > h1 {
    font-family: var(--font02);
    font-weight: normal;
    font-size: 1.8em;
    text-align: center;
    color: var(--cor06);
    text-shadow: 2px 2px 5px var(--cor06);
    padding: 30px 0px; 
}

section > div.conta > span {
    padding: 10px;
    font-size: 40px;
    vertical-align: middle;
}

section#criacao > div.conta > label {
    display: none;
}

input:focus {
    outline: none;
}


section#criacao > div.conta > input {
    background-color: var(--cor07);
    color: white;
    height: 40px;
    width: calc(100% - 66px);
    border-radius: 10px;
    border: 1px solid var(--cor04);
    padding: 5px;
    box-shadow: 0px 0px 8px var(--cor05);
    opacity: 0.8;
    transition: 0.2s;
}

section#criacao > div.conta > input::placeholder {
    color: white;
}

section#criacao > div.conta > input:focus-within {
    background-color: #271227;
    color: var(--cor06);
    opacity: 1;
}

section#criacao > div.conta > input:focus-within::placeholder {
    color: var(--cor06);
}

section#marcacao {
    padding: 0px 10px;
}

section#marcacao > h2 {
    color: var(--cor06);
    text-shadow: 0px 0px 5px var(--cor06);
    font-weight: normal;
    text-align: center;
    font-size: 2em;
    margin: 20px 0px;
}

section#marcacao > div.escolha > input[type="radio"] {
    display: none;
}

section#marcacao > div.escolha > input[type="radio"] + label::before {
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    color: var(--cor02);
    background-color: var(--cor02);
    border: 1px solid var(--cor03);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s;
}

section#marcacao > div.escolha > input[type="radio"]:checked + label::before {
    background-color: #00ffe5;
    border: 1px solid #00ffe5;
}

section#marcacao > div.escolha > input[type="checkbox"] {
    display: none;
}

section#marcacao > div.escolha > input[type="checkbox"] + label::before {
    display: inline-block;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background-color: var(--cor02);
    border: 1px solid var(--cor03);
    vertical-align: middle;
    margin: 20px 5px 20px 20px;
    cursor: pointer;
    transition: 0.3s;
}

section#marcacao > div.escolha > input[type="checkbox"]:checked + label::before {
    background: url('../imagens/checked.webp') no-repeat center center;
    background-size: cover;
    background-color: #00ffe5;
    border: 1px solid #00ffe5;
}

div.iniciar > input[type="submit"] {
    display: block;
    font-size: 1.3em;
    background-color: var(--cor06);
    color: #0108d4;
    border: none;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px var(--cor06);
    text-shadow: 0px 0px 1px #0108d4;
    cursor: pointer;
    transition: 0.3s;
}

div.iniciar > input[type="submit"]:hover {
    color: #1c55ff;
    background-color: #5a0943;
    text-shadow :0px 0px 1px #1c55ff;
    box-shadow: 0px 0px 10px #79135c;
}